.mimir_link{
  text-align: center;
  display: block;
  text-decoration: none;
}
.mimir_link:hover{
  text-decoration: none;
}
.navbar_main{
  width: 100%;
  border: 25px solid #b4b0b0;
  border-bottom: 6px solid rgba(37, 37, 37, 0.85);
  height:10%;
}
.navbarbox{
  width: 100%;
  border: 25px solid #b4b0b0;
  border-bottom: 6px solid rgba(37, 37, 37, 0.85);
}
.darkgrey{
  background: rgb(180, 176, 176);
}
.font{
  font-size: 300%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.floatright{
  float: right;
}
