.header{
  width: 100%;
  height: 50px;
  text-align: center;
}
.editpin-h1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 30%;
  color: white;
  vertical-align: top;
}
.back{float: left;}
.pinEdit-body{
  font-size: 1.5em;
  text-align: left;
}
