.project-container{
  width: 100%;
  display: table;
}
.project-container div{
  display: table-cell;
}
.map_container{
width: 60%;
height: 500px;
border: 1px solid black;
}
.edit_container{
  width: 40%;
  height: 500px;
  vertical-align: top;
  margin: 0;
  border: 1px solid black;
}
.edit_container > a {
    color: #0060B6;
    text-decoration: none;
}

.edit_container > a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
h1{
  text-align: center;
}
